@import './Styles/base/typography.scss';
@import './Styles/base/base.scss';
@import './Styles/abstracts/mixins.scss';
@import './Styles/abstracts/variables.scss';
@import './Styles/components/button.scss';
@import './Styles/components/input.scss';
@import './Styles/components/link_list.scss';
@import './Styles/components/radio.scss';
@import './Styles/components/select.scss';
.App {
    background-color: white;
    @include desktop {
        background-color: $color-background;
        // height: 100vh;
    }
}

.main {
    @include desktop {
        margin-left: 4rem;
        margin-right: 4rem;
        background-color: white;
    }
    // height: 100vh
}

.page {
    display: flex;
    flex-direction: column-reverse;
    @include tablet {
        min-height: 80vh;
        flex-direction: row;
    }
}